<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>pasta</title>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
  <div class="navbar" role="navigation">
    <div class="nav-space">
      <div class="navbar-header">
        <a class="navbar-brand nav" href="{{ url_for('index') }}">pasta</a>
        <span class="navbar-brand nav nav-split">|</span>
        {% if user.username %}
        <a class="nav-name" href="{{ url_for('index') }}">{{user.username}}</a>
        &emsp;&emsp;
        <a class="nav-name" href="{{ url_for('upload') }}">upload</a>
        &emsp;&emsp;
        <a class="nav-name" href="{{ url_for('logout') }}">logout</a>
        {% endif %}
      </div>
    </div>
  </div>
<div class="base">
{% block content %}{% endblock %}
</div>
</body>
</html>
